/* Intro 
*************************************/

.what-we-do{
	padding: 0;
}

	.what-we-do img{
		display: block;
		z-index: 10;
		position: relative;
		transition: transform 0.4s;
	}

		
	.wwd__item{ 
		position: relative; 
		background-color: var(--red);
		margin: 0;
	}

		.wwd__item:hover img{
			transform: translateY(-120px);
		}

		.wwd__item figcaption {
			position: relative;
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 20px;
			background: #2c3f52;
			color: var(--red);
			z-index: 2;
			width: 100%;
			text-align: center;
		}

		.wwd__item  figcaption h3 {
			margin: 0;
			padding: 0;
			color: #fff;
			display: block;
		}

		.wwd__item  figcaption p {
			font: 12px/24px 'Playfair Display', Georgia, serif;
		}

		.wwd__item  figcaption a {
			text-align: center;
			padding: 5px 10px;
			border-radius: 2px;
			display: inline-block;
			background: var(--red);
			color: #fff;
			text-transform: uppercase;
			font: 12px/24px 'Abril Fatface', Georgia, serif;
		}