/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/
	:root {
	  --red: #f46162;
	  --grey: #45484A;
	  --blue: #1e2d34;
	  --cream: #493c4d;
	}

	@custom-media --desktop screen and (min-width: 1024px);

/*------------------------------------*\
    #BASE
\*------------------------------------*/
	
	@import url('_nomalize.css');
	@import url('_icons.css');
	@import url('_slick.css');
	@import url('_modal.css'); /* http://codyhouse.co/demo/slide-in-panel/index.html */

/*------------------------------------*\
    #GENERIC
\*------------------------------------*/
	
	*, *::after, *::before {
	  box-sizing: border-box;
	}

	*::after, *::before {
	  content: '';
	}

	*, *:before, *:after {
	  box-sizing: inherit;
	}

	html { 
	  box-sizing: border-box;
	  height: 100%;
	}

	body{
		zoom: 1;
		height: 100%;
		width: 100%;
		background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAQAAABuBnYAAAAAU0lEQVQIHQXBwRGDIBAAwO2/AMcCDHAcPjIRxjJ8Je1kl1uqUgphsWu6w0sIG6npLpcUBql4e/wsVRKabrkNTacIYbMrwsF06rqUhsnXVKVT+Hj+Ue4rPSONk4kAAAAASUVORK5CYII=); 
	}

	p{
		font: 18px/24px 'Playfair Display', Georgia, serif;
	}

	h1,h2,h3,h4,h5,h6{
		font-family: 'Abril Fatface', Georgia, serif;
		text-transform: uppercase;
	}

	img{ max-width: 100%; }

	.section{
		background-color: #fff;
		position: relative;
		z-index: 2;
		min-height: 100%;
		padding: 20px;
	}

	input, textarea{
		padding: .5em .6em;
		display: inline-block;
		border: 1px solid #fff;
		background: transparent;
		color: #fff;
		width: 100%;
		margin-bottom: 20px;
	}

	

	@media (--desktop) {
		body{
			background: url(images/bg.jpg) no-repeat center center fixed; 
  		background-size: cover;
		}
		form{
			padding: 0 20px;
		}
	}

	.progress{
		position: fixed;
		bottom: 20px;
		width: 70px;
		height: 70px;
		background-color: #f46162;
		color: #fff;
		border-radius: 50%;
		text-align: center;
		line-height: 70px;
		right: 20px;
	}

/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/
	
	@import url('_nav.css');
	@import url('_arrow.css');
	@import url('_animateScroll.css');
	@import url('_intro.css');
	@import url('_about.css');
	@import url('_team.css');
	@import url('_whatWeDo.css');
	@import url('_gallery.css');
	@import url('_contact.css');





	
	


